<!DOCTYPE html>
<html lang="en">

<head>
    <title>Songs</title>
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/bootstrap.min.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin" action="{{url_for('playlist_done')}}" method="post">
        <h1 class="mb-3 font-weight-normal">Finished Making your Playlist</h1>
        <h2 class="mb-3 font-weight-normal">Check your Spotify to see your newly made playlist!</h2>
    </form>
</body>

</html>